@import url('https://fonts.googleapis.com/css?family=Cinzel&display=swap');

body, html {
    margin: 0;
    font-family: 'Merriweather', serif;
    background-image: radial-gradient(255,122,10)
}
a{
    text-decoration: none !important;
}
.content {
    margin: 0 auto;
    width: 400px;
    font-family: Cinzel;
}

table, td, th {
    border: 1px solid #aaa;

}

table {
    border-collapse: collapse;
    width: 100%;
}

th {
    height: 30px;
    
}

td {
    text-align: center;
    padding: 5px;
}

.form {
    margin-top: 20px;
    text-align: center;
}
.card-header{
    font-size: 1.5em;

}
.fa-trash{
    font-size: 1.5em;
    margin-right: .3em;
    color: #ffa000;
}

.fa-user-edit{
    font-size: 1.5em;
    margin-right: .3em;
    color: #ffa000;
}

#content {
    width: 70%;
}
