@import url('https://fonts.googleapis.com/css?family=Cinzel&display=swap');

body, html {
    margin: 0;
    font-family: 'Merriweather', serif;
    background-image: linear-gradient(90deg, blue, green);
   
   
    
}
a{
    text-decoration: none !important;
}

.content {
    position: relative;
    top: 50%;
    left:50%;
    transform: translate(-50%);    
    width: 30%;
    font-family: Cinzel;
    
    
}
ul {
    color: #000;
}
span{
    float: right;
    padding-right: 1em;
}

table, td, th {
    border: 1px solid #aaa;
    color: #000;
    
}

table {
    border-collapse: collapse;
    width: 100%;
    
}

th {
    height: 1em;
    font-size: 1.5em;
}

td {
    text-align: center;
    padding: 1em;
}

.form {
    margin-top: 3em;
    text-align: center;
}
.card-header{
    font-size: 1.5em;

}
.fa{
    float: right ;
}
.fa-trash{
    font-size: 1.5em;
    margin-right: .3em;
    color: #ffa000;
}

.fa-user-edit{
    font-size: 1.5em;
    margin-right: .3em;
    color: #ffa000;
}

#content {
    width: 70%;
}

#todotitle, #updateh1 {
    font-size: 6em;
    font-weight: bold;
    text-decoration: underline;
    color: #fff;
    position: static;

}
.container{
    border: 2px solid #000;     
}
@media screen and (max-width: 768px){
    .col-sm-4{
       margin: 25px 0;
    }
    #addtaskbtn{
        width: 100%;
        margin-bottom: 2em;
    }
    #addtaskbtn{
        position: relative;
        width: 100%;
        margin-top: 1em;
        left: 100%;
}
@media screen and (max-width: 480px){
    .col-sm-4{
       margin: 25px 0;
    }
    #addtaskbtn{
        position: relative;
        width: 100%;
        margin-top: 1em;
        left: 100%;
        
        
    }
}