{% extends 'base.html' %}

{% block head %}
<title>To Do List</title>
{% endblock %}

{% block body %}
<h1 class="text-center" id="todotitle">To Do's</h1>
<div class="content col-sm-4 col-md-6 col-xs-12">
    
    <div class="container-fluid">
    {% if todos|length < 1 %}
    <h3 class="text-center text-white">There are no todos. Create one below!</h3>
    {% else %}
   
        <div class="card text-white bg-clear shadow-lg text-dark" id="cardheader">
            <div class="card-header text-center">todos</div>
            <div class="list-group">
                
                {% for todo in todos %}
                <div class="shadow p-3 bg-clear rounded">
                <div class="d-flex w-100 justify-content-between">
                       
                        <small>{{ todo.date_create.date() }}</small>
                      </div>
                      <p class="mb-1">{{ todo.content }}
                        <a href="/delete/{{todo.id}}"><i class="fa fa-trash"></i></a></span>
                        <a href="/update/{{todo.id}}"><i class="fa fa-user-edit"></i></a></small>
                        </p>
                    </div>  
                        
                    
              
                {% endfor %}
               
        </div>
    
    
    {% endif %}
    </div>
    <div class="form">
        <form action="/" method="POST">
            <div class="input-group mb-3">
                <input type="text" class="form-control" placeholder="Add a todo" id="content" name="content">
                <div class="input-group-append">
                    <input class="btn btn-round btn-dark" id="addtodobtn" type="submit" value="Add todo">
                </div>
              </div>
              
           </form>
    </div>
</div>
</div>
{% endblock %}
